@{
    Layout = "_Layout";
}
@section style {

    <link rel="stylesheet" href="~/app/master.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/masterextended.css" asp-append-version="true" />

    @RenderSection("Styles", required: false)
}

<div class="dashboard d-flex min-vh-100">
    <div class="dashboard__body overflow-hidden flex-grow-1">
        <partial name="_LayoutMainHeader" />

        <main class="">
            <div class="">
                @RenderBody()
            </div>
        </main>
    </div>
</div>
