/*
** Theme Variables
*/
:root {

    --primary:   #0061AB;
    --primary-a: #00477c;

    --secondary:   #1B262C;
    --secondary-a: #06080a;

    --accent: #F0801A;

    --body: var(--secondary);

    --formlabel: var(--gray);
    --formfieldplaceholder: #var(--gray);
    --formtextcolor: var(--secondary);
    --formfieldborder: var(--midgray);
    --formfieldbg: var(--white);
    --formradius: 6px;

    --link: var(--primary);
    --link-a: var(--primary-a);

    --siteradius: 18px;

    --white: #ffffff;
    --black: #000000;
    --gray: #667085;
    --midgray: #BEC2C3;
    --lightgray: #F5F5F5;
    --green: #00CE62; 
    --red: #E31F24; 
}
.modal-fullscreen {
    width: 100vw; /* Full Width */
    height: 100vh; /* Full Height */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}
.dropdown-menu {
    min-width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
    color: #000;
}


    .modal-fullscreen .modal-content {
        width: 100%;
        height: 100%;
        border-radius: 0; /* Border ko Remove Kiya */
        overflow: hidden; /* Extra Scroll ko remove kiya */
    }
.full-screen-schedule {
    height: 100vh; /* Full height screen */
    width: 100vw; /* Full width screen */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Extra scroll hatane ke liye */
}
td.e-timeline-wrapper {
    display: none;
}
.e-current-time {
    display: none;
}
.e-current-timeline {
    display: none;
}
.e-previous-timeline {
    display: none;
}
.schedule-wrapper {
    height: 100%;
    width: 100%;
}

/*
** Fonts
*/
@font-face { font-family: 'manrope'; src: local('Arial'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'manrope-md'; src: local('Arial'); font-weight: 500; font-style: normal; }
@font-face { font-family: 'manrope-sb'; src: local('Arial'); font-weight: 600; font-style: normal; }
@font-face { font-family: 'manrope-bd'; src: local('Arial'); font-weight: bold; font-style: normal; }

/*
** Custom Reset
*/
img { max-width: 100%; height: auto; }
a, span, i, label { display: inline-block; }
label { vertical-align: top; }
a { color: var(--link); text-decoration: none; transition: 0.3s ease-in-out; }
a:hover { color: var(--link-a); }
a:focus { outline: none; }
strong, b { font-family: 'manrope-sb', sans-serif; font-weight: 600; }

header ul,
footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
button,
button:focus {
  outline: 0;
  box-shadow: none;
}

input:focus,
select:focus {
    outline: none !important;
    box-shadow: none !important;
}
.no-click {
    pointer-events: none;
    cursor: none;
    text-decoration: none;
}

ul,
ol {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

p:last-child,
ul:last-child,
ol:last-child,
li:last-child {
  margin-bottom: 0;
}

/*
** Globals
*/

/*Typo*/
body {
    font-family: 'manrope-md', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: var(--body);
    background-color: var(--lightgray);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'manrope-bd', sans-serif;
    font-weight: normal;
    font-style: normal;
}

h1, .h1 { font-size: 28px; line-height: 1.35em; margin-bottom: 20px; }
h2, .h2 { font-size: 20px; line-height: 1.5em; margin-bottom: 20px; }
h3, .h3 { font-size: 18px; line-height: 1.55em; margin-bottom: 16px; }
h4, .h4 { font-size: 16px; line-height: 1.75em; margin-bottom: 14px; }
h5, .h5 { font-size: 14px; line-height: 1.71em; margin-bottom: 12px; }
h6, .h6 { font-size: 12px; line-height: 1.83em; margin-bottom: 10px; }

/* Form Fields */
input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="datetime-local"],
input[type="date"],
input[type="tel"],
select,
.form-select,
textarea {
    font-family: 'manrope-md', sans-serif;
    font-size: 14px;
    line-height: 45px;
    color: var(--formtextcolor);
    height: 45px;
    width: 100%;
    padding: 0 15px;
    border-radius: var(--formradius);
    background-color: var(--formfieldbg);
    border: 1px solid var(--formfieldborder);
    outline: 0 !important;
    vertical-align: top;
}

input::placeholder,
textarea::placeholder {
    color: var(--formfieldplaceholder);
}

textarea {
    resize: vertical;
}


select,
.form-select {
    width: 100%;
    padding-right: 40px;
    /* background-image: url('../images/angle-down.svg'); */
    /* background-size: 10px; */
    /* background-position: right 15px center; */
    /* background-repeat: no-repeat; */
    -webkit-appearance: none;
    appearance: none;
}

select option:hover,
select option:hover,
.form-select option:hover,
.form-select option:hover {
    color: var(--body);
    background-color: var(--midgray);
}

input[disabled],
select[disabled],
textarea[disabled],
.form-control:disabled {
    border-color: var(--midgray);
}

.form-control:focus,
.form-select:focus {
    border-color: var(--primary);
}

/*Background Utilities*/
.bg--lightgray { background-color: var(--lightgray); }

/*Text Utilities*/
.text-rg { font-family: 'manrope', sans-serif; }
.text-md { font-family: 'manrope-md', sans-serif; }
.text-sb { font-family: 'manrope-sb', sans-serif; }
.text-bd { font-family: 'manrope-bd', sans-serif; }

.text-12 { font-size: 12px; line-height: 22px; }
.text-16 { font-size: 16px; line-height: 26px; }
.text-14 { font-size: 14px; line-height: 24px; }
.text-28 { font-size: 28px; line-height: 38px; }

.text-bold { font-family: 'manrope-bd'; font-weight: 700; }

.text--primary { color: var(--primary); }
.text--secondary, .text--body { color: var(--secondary); }
.text--white { color: var(--white); }
.text--gray { color: var(--gray); }
.text--red { color: var(--red); }

.list-unstyled { padding: 0; margin: 0; list-style: none; }

/*Buttons*/
.bttn {
    font-family: 'manrope-sb', sans-serif;
    font-size: 16px;
    line-height: 38px;
    min-width: 100px;
    height: 40px;
    padding: 0 20px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: var(--formradius);
    transition: all 0.3s ease-in-out;
}

.bttn-r {
    border-radius: 100px;
}

.bttn-primary {
    color: var(--white);
    border-color: var(--primary);
    background-color: var(--primary);
}

.bttn-primary:hover {
    color: var(--white);
    border-color: var(--primary-a);
    background-color: var(--primary-a);
}

.bttn-primary-outline {
    color: var(--primary);
    border: 1px solid var(--primary);
    background-color: transparent;
}

.bttn-primary-outline:hover {
    color: var(--white);
    background-color: var(--primary);
}
.e-header-cells {
    pointer-events: none;
}

.bttn-alt {
    color: var(--gray);
    border-color: var(--formfieldborder);
    background-color: transparent;
}

.bttn-alt:hover {
    color: var(--secondary);
    border-color: var(--formfieldborder);
    background-color: var(--formfieldborder);
}

.bttn-add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: var(--primary);
    vertical-align: top;
}

.bttn-add:hover {
    background-color: var(--primary-a);
}

/*Bootstrap Overrides*/
.dropdown-item { font-family: 'manrope-md', sans-serif; font-size: 14px; line-height: 22px; }

.dropdown-item.active,
.dropdown-item:active {
    color: var(--white);
    background: var(--primary);
}

.invalid-feedback {
    font-size: 12px;
    margin-top: 0;
}

/*Header*/
.ius-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.hcol-pa {
    padding-right: 25px;
    margin-left: auto;
    margin-right: 25px;
    border-right: 1px solid var(--midgray);
}
.pa-amt {
    min-width: 97px;
    padding: 0 10px;
    text-align: center;
    color: var(--white);
    border-radius: 100px;
    background: var(--accent);
}

.hcol-usr {
    padding-right: 30px;
}

.ius-userp img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    object-position: center center;
}

.hcol-usr .dropdown-toggle {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 5px 0;
    border: 0;
    outline: none;
    background: var(--white);
}

.hcol-usr .dropdown-toggle::after {
    display: none;
}

.hcol-usr {
    background-image: url('../assets/angle-down.svg');
    background-position: center right 4px;
    background-repeat: no-repeat;
}

.ius-useri {
    line-height: 1.3;
}

/*Page Styles*/
.page {
    padding-top: 24px;
    padding-bottom: 40px;
}

.ius-block + .ius-block {
    margin-top: 20px;
}

/*Cards*/
.ius-card {
    padding: 20px;
    border-radius: var(--siteradius);
    background: var(
    --white);
}


.ius-form .form-label {
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
    color: var(--gray);
}

.ius-form .btn-group {
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-check + .btn,
.btn-check:active + .btn,
.btn-check:hover + .btn {
    font-size: 14px;
    line-height: 45px;
    height: 45px;
    padding: 0;
    border-radius: var(--formradius) !important;
    color: var(--secondary);
    border-color: var(--lightgray);
    background: var(--lightgray);
}

.btn-check:checked+.btn {
    color: var(--primary);
    border-color: var(--primary);
    background-color: rgba(0, 97, 171, 0.05);
}

.form-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px dashed var(--midgray);
}

.ius-notes {
    border-left: 4px solid var(--red);
}

.ius-block-head {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.ius-block-head h2 {
    flex: 1 0 100%;
    width: 100%;
}

/*Grid / Table*/
table thead {
    border-radius: var(--formradius);
    overflow: hidden;
    margin-bottom: 10px;
}

table thead th:first-child { border-top-left-radius: var(--formradius); border-bottom-left-radius: var(--formradius); }

table thead th:last-child { border-top-right-radius: var(--formradius); border-bottom-right-radius: var(--formradius); }

table thead th {
    background: var(--lightgray) !important;
    border: 0;
}

table th {
    font-family: 'manrope-md', sans-serif;
    font-weight: 400;
}

table td {
    font-family: 'manrope', sans-serif;
    font-weight: 400;
}

.ius-ctrls {
    display: flex;
    align-items: center;
    gap: 12px;
}

.ius-badge {
    font-family: 'manrope-sb', sans-serif;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    padding: 0 5px;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--gray);
}

.badge-green {
    background-color: var(--green);
}

.badge-red {
    background-color: var(--red);
}

.ius-gridrow {
    padding: 16px;
    border: 1px solid var(--midgray);
    border-radius: var(--formradius);
}

.ius-gridrow + .ius-gridrow {
    margin-top: 16px;
}

.ius-appbody {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px dashed var(--midgray);
}

.ius-appinfo { 
    flex: 1 0 auto;
}

.ius-appinfo h3 {
    margin: 0;
}

.ius-apptyfo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'manrope', sans-serif;
}

.appinfo-dot {
    --size: 5px;
    width: var(--size);
    min-width: var(--size);
    height: var(--size);
    border-radius: 100%;
    background: var(--body);
}

.datetime-label {
    color: var(--gray);
}

.ius-foo {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.modal-header .btn-close {
    font-size: 12px;
    padding-right: 10px;
}

/*Login*/
.page-login {
    --leftPer: 58.66%;
    display: flex;
    min-height: 100vh;
    background-color: var(--white);
}

.login-lt {
    width: var(--leftPer);
}

.login-lt img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center;
}

.login-rt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - var(--leftPer));
}

.login-box {
    flex: 1 0 518px;
    width: 518px;
    max-width: 100%;
    padding: 50px;
}

.ius-logo {
    margin-bottom: 50px;
}

.login-box h1 {
    font-size: 32px;
    line-height: 42px;
}

.login-box p {
    font-size: 16px;
    margin-bottom: 35px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form .form-control {
    font-size: 16px;
    height: 40px;
    line-height: 48px;
    padding: 0 15px;
    border-color: #C1C8D0;
    background-color: var(--lightgray);
}

.otp-inps {
    display: flex;
    justify-content: space-between;
}

.otp-inps .form-control {
    width: 70px;
    border-radius: 12px;
}

.login-form .form-control:focus { border-color: var(--primary); }
