@font-face { font-family: 'Manrope'; src: local('Arial'); font-weight: 600; font-style: normal; }
@font-face { font-family: 'Manrope'; src: local('Arial'); font-weight: 500; font-style: normal; }
@font-face { font-family: 'Manrope'; src: local('Arial'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Manrope'; src: local('Arial'); font-weight: bold; font-style: normal; }

